/* Good colors: https://www.color-hex.com/color/335379 #033F7A  #f5f5f5 */
html, body, .root, .page-container, #react-entry-point{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.SmallerPage{
    -webkit-transform:scale(0.80);
    -moz-transform:scale(0.80);
    -ms-transform:scale(0.80);
    transform:scale(0.80);
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    transform-origin:0 0;}

.H1, H1 {
    font-size: 2.0rem;
    margin: 0px;
    color: whitesmoke;
}

.H2, H2 {
    text-align: center;
    font-size: 1.2rem;
    /* padding-left: 2px; */
    margin: 0px;
    background: #004c7d;
    color: whitesmoke;
}

.tile-container H2 {
    width: 100%;
    background: #004c7d;
    color: whitesmoke;
    padding: 0.3rem;
}

.H3, H3 {
    text-align: center;
    font-size: 1.6rem;
    /* padding-left: 2px; */
    /* margin: 0px; */
    /* background: #004c7d; */
    /* color: whitesmoke; */
}

/* #data-table-text {
    font-size: 1.2rem;
    padding-left: 2px;
    background: #193b5d;
    color: whitesmoke;
    margin: 0px;
} */

input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar-sub-container H2 {
    text-align: center;
}

p {
    margin-bottom: 2px;
}

.navbar-container {
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 15px;
    padding-left: 15px;
    color: #EEE;
    box-shadow:
        rgb(0 0 0 / 20%) 0px 2px 4px -1px,
        rgb(0 0 0 / 14%) 0px 4px 5px 0px,
        rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    background-color: #00264c;
    height: 73px
}

.navbar-brand-container {
    font-size: 2rem;
}

.navbar-title-container {
    font-size: 2rem;
}

.navbar-link-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navlink-list {
    list-style: none;
    display: inline-flex;
}

/* ################### Modal */
.modal-content {
    width: auto;
}

#download-modal-container {
    display: flex;
    position: absolute;
    left: 50%;
    top: 40%;
}

#modal-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2em;
}

/* ################### Sidebar */
.sidebar-container {
    display: flex;
    height: calc(100vh - 73px);
    flex-direction: column;
    flex-basis: 20rem;
    flex-shrink: 0;
    /* background-color: #ffffff; */
    border-right: groove;
    padding-top: 10px;
    /* padding-left: 8px; */
    padding-right: 5px;
}

.station-sub-container p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.sidebar-sub-container {
    align-self: stretch;
    /* border: 1px solid #cacccd; */
    background-color: white;
    border-radius: 4px;
    /* margin: 3px; */
    margin-bottom: 4px;
}

#date-range {
    width: 100%;
}

#coop-img-container {
    height: 150px;
    width: 175px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#sidebar-map-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.map-view-container {
    min-height: 30rem;
    padding: 2px;
}

#station-checklist {
    line-height:1em;
    overflow-y:scroll;
    /* overflow-x:hidden; */
    height: 20rem;
}

#location-map {
    /* height: 100%; */
}

.body-container {
    display: flex;
    /* background-color: rgb(161, 161, 161); */
    /* padding-bottom: 1rem; */
    height: calc(100vh - 73px);
    /* overflow-y: scroll; */
}

#main-wrapper {
    /* display: flex; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* height: calc(100vh - 73px); */
    overflow-y: scroll;
    width: 100%;
    /* height: inherit; */
}

.main-body-container {
    /* display: flex; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    padding: 10px 10px 10px 10px;
    /* height: revert; */
    /* height: calc(100vh - 76px); */
    /* overflow-y: hidden; */
}

.main-content-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    /* flex-grow: 1; */
    gap: 1rem;
    max-width: 85rem;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* padding-left: 0.6rem; */
    /* padding-right: 0.6rem; */
    /* gap: 0.5rem; */
    /* padding-bottom: 0.3rem; */
    /* background-color: #b2bdc9; */
    background-color: #f4faff;
    border: 1px solid #3f3f3f78;
}

.sub-tile-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    gap: 0.5rem 1.5rem;
    padding-bottom: 0.3rem;
    /* background-color: #b2bdc9; */
    background-color: #f4faff;
}

.plot-text {
    background: #193b5d;
    color: whitesmoke;
    padding-left: 0.5rem;
}

#map-text {
    /* background: #193b5d; */
    /* color: whitesmoke; */
    padding-left: 0.5rem;
}

#main-parameter-dropdown {
    flex-basis: 100%;
    /* margin-left: 0.6rem;
    margin-right: 0.6rem; */
}

.table-container {
    /* margin-left: 0.6rem;
    margin-right: 0.6rem; */
    flex-basis: 80rem;
    flex-grow: 1;
    /* padding: 4px; */
} 

.plots-wrapper {
    flex-basis: 40rem;
    /* margin-left: 0.6rem;
    margin-right: 0.6rem; */
    /* padding: 4px; */
}

#summary-table {
    max-height: 20rem;
    overflow-y: scroll;
}

.card-header {
    color: #00264c;
    border-color: #00264c;
    background-color: #e7e7e7;
}

.dash-graph {
    /* max-width: 36rem; */
    /* max-height: 30rem; */
}
