[DEFAULTS]
APP_TITLE = Flaxville Dashboard
DEFAULT_PCODE = p00400
# DEFAULT_STAID = USGS-433615110440001
# staid_metadata = data\JHA_STAID_METADATA.csv
DEFAULT_STAID = USGS-481706106002101
staid_metadata_path = data\FLAXVILLE_STAID_METADATA.csv
default_start_date_lo = 01-01-2010
default_start_date_hi = 01-01-2050