/* Good colors: https://www.color-hex.com/color/335379 #033F7A  #f5f5f5 */

/*
1. Use a more-intuitive box-sizing model.
*/
/* *, *::before, *::after {
box-sizing: border-box;
} */
/*
2. Remove default margin
*/
/* * {
margin: 0;
} */
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
/* body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
} */
/*
6. Remove built-in form typography styles
*/
/* input, button, textarea, select {
font: inherit;
} */
/*
7. Avoid text overflows
*/
/* p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
} */
/*
8. Create a root stacking context
*/
/* #root, #__next {
isolation: isolate;
} */
p {
    margin-bottom: 2px;
}

.H1, H1 {
    font-size: 1.3rem;
    margin: 0px;
    color: whitesmoke;
}

.H2, H2 {
    text-align: center;
    font-size: 1.0rem;
    margin: 5px;
    background: #004c7d;
    color: whitesmoke;
}

.tile-container H2 {
    width: 100%;
    background: #004c7d;
    color: whitesmoke;
    padding: 0.3rem;
}

.H3, H3 {
    text-align: center;
    font-size: 1.6rem;
}

input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

html, body {
    margin: 0;
    /* overflow: hidden; */
    height: 100vh;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header,
footer {
    flex: none;
}

#react-entry-point {
    overflow-y: hidden;
    flex: auto;
}

.root {
    height: 100%;
}

.body-container {
    height: calc(100% - 2.7rem);
    display: flex;
    /* height: calc(81.5vh - 2.7rem) */
}

.sidebar-sub-container H2 {
    text-align: center;
}

.map-container {
    /* flex-basis: 60rem; */
    flex-grow: 1;
}

.map-view-container {
    /* Needs height so it doesn't get run over */
    min-height: 29rem;
    flex-grow: 1;
}

#station-checklist {
    line-height:1em;
    overflow-y:scroll;
    height: 7rem;
}

.checkbox-label {
    font-size: 0.9rem;
}

#main-wrapper {
    overflow-y: scroll;
    width: 100%;
    flex: auto;
}

.main-body-container {
}

.main-content-container {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    gap: 1rem;
    max-width: 85rem;
}

.collapse-button {
    width: 100%;
    padding: 0.3rem;
}
